.verify_div {
	border: 0px !important;
	box-shadow: 0px !important;
	display: flex;
	justify-content: center;
}

.verify_div div {
	display: flex;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 0px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	width: fit-content;
}

.verify_div video {
	padding-top: 0px;
}

canvas {
	position: absolute;
	z-index: 44;
}
